.markdown-area {
    width: 100%;
    flex-grow: 1;
}

.markdown-area h1 {
    text-align: center;
    margin-top: 0.25em;
}

.markdown-area h1 > a {
    text-decoration: none;
}

.markdown-area pre {
    background-color: #f6f8fa;
    padding: 1em;
    overflow: auto;
}

.markdown-area :not(pre) > code {
    background-color: #eff1f3;
    padding: 0.2em 0.4em;
}
